@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-weight: 400;
}

li {
  font-family: "Montserrat", sans-serif;
  line-height: 2rem;
  font-size: 18px;
  list-style: none;
}

.title {
  margin: 20px 0;
}

img {
  display: block;
  width: 100%;
  max-width: 1100px;
  height: auto;
  border-radius: 15px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img-caption {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 8px;
  text-align: center;
  padding-top: 10px;
}

#tribute-info {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#headline {
  grid-column: 2 / 3;
  text-align: center;
  padding-top: 20px;
}

#timeline,
#quote {
  grid-column: 2 / 3;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

@media (max-width: 500px) {
  #tribute-info {
    display: grid;
    grid-template-columns: auto;
  }
}
